/* Readable Hiding */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: $mobile;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  &--header {
    display: flex;
    align-items: center;
    /*     min-height: 60px;
 */
    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }
  /*   @media screen and (min-width: $tablet) {
    max-width: $tablet;

  } */

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    &--footer {
      display: flex;
    }
  }
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.current {
  color: var(--accent-color);
}
